body {
  background-color: rgba(17, 108, 96, 0.34);
}
.header1 {
  text-align: center;
  font-size: 3rem; /* 任意 */
  font-weight: 700; /* 任意 */
  background: linear-gradient(
    135deg,
    pink 0%,
    orange 25%,
    yellow 35%,
    green 45%,
    cyan 55%,
    blue 65%,
    purple 75%
  );
  /* 虹色の背景からテキスト部分だけに色をつける */
  -webkit-background-clip: text;
  background-clip: text;
  /* 文字のデフォルトの塗りつぶし色（黒）を透明にする */
  -webkit-text-fill-color: transparent;
}
.card-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}
.card {
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.12);
}
.card__title {
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}
.human::before {
  content: "☺️";
  font-size: 2rem;
}
.house::before {
  content: "🏠";
  font-size: 2rem;
}
